<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <meta name="description" content="Esta es una página para realizar el laboratorio 12 de DAW">
    <meta name="author" content="Omar Molina">
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
              
    <title>Laboratorio 12</title>
</head>

<body>
    <nav class="#64b5f6 blue lighten-2">
        <div class="nav-wrapper">
          <a href="index.php" class="brand-logo">Laboratorio 12</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="usuario.php">Perfil</a></li>
            <li><a href="logout.php">Cerrars</a></li>
          </ul>
        </div>
    </nav>