<div class="container">
   
    <h5><h6>Llena por favor todas los campos y posteriormente visualizalos en "Perfil".</h6></h5>
    <p class="flow-text" id="user">
        <h5>Hola: <?php echo $_SESSION["user"]?></h5>
        <br><br>
    
       <form method="post" >
           
    <div class="row">
    <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input  name="First" id="first_name" type="text" class="validate">
             <p>FistName</p>
               <label for="first_name"></label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" name="Last" class="validate">
              <p>LastName</p>
              <label for="last_name"></label>
            </div>
          </div>
            <br>
             <div class="input-field col s6">
                  <input id="telefono" type="tel" name="Tele" class="validate">
                  <p>Teléfono</p>
                  <label for="telefono"></label>
             </div>
             <div class="input-field col s6">
                  <input id="ciudad" type="text" name="Origen" class="validate">
                  <p>Ciudad</p>
                  <label for="ciudad"> </label>
             </div>
             
             <button type="submit" class="btn green darken-3">Enviar</button>
    </form>
 
       <br><br><br><br>
        <p>Selecciona para subir una nueva foto</p>
        
        <form method="POST" action="upload.php" enctype="multipart/form-data">
             
              <input  type="file" name="fileToUpload" id="fileToUpload">
              <br><br>
              <input class="btn green" type="submit" value="Subir" name="submit">
              
        </form>

        <br> <br>
        <a href="fotos.php" class="btn green darken-3">Ver Fotos</a>
        <br> <br>
</div>
  