<div class="container">
    <h3>Inicio  sesión</h3>
    <br>
        <form method="POST" action="inicio_sesion.php">
           
            <div class="row">
                
                <div class="Small material-icons">
                    <label for="text">Usuario</label><br>
                    <input placeholder="omar123" id="user" name="user" type="text" required>
                    
                </div>
               
                <div class="Small material-icons ">
                    <label for="password">Contraseña</label><br>
                    <input placeholder="asdf" id="pass" name="pass" type="password" required>   
                </div>
                
                <div class="input-field col 8">
                        <button class="waves-effect waves-light btn" type="submit" name="action">Ingresar</button>
                </div>  
            </div>
        </form>
</div>